<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<% if @article_search_form.invalid? %>
  <div id="error_explanation">
    <h2><%= pluralize(@article_search_form.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
      <% @article_search_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @article_search_form, url: articles_path, method: :get, local: true do | form | %>
  <%= form.label :title %>:<%= form.text_field :title %><br />
  Date: <%= form.date_field :from_date %> 〜　<%= form.date_field :to_date %>
  <%= form.submit "Search it" %>
<% end  %>

<hr />

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Draft</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @article_search_form.articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.body %></td>
        <td><%= article.draft %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
